<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Tarefa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<style>
    * {
        margin: 5px;
    }

    html,
    body {
        height: 95%;
    }
</style>

<body
    class="p-3 m-0 border-0 bd-example m-0 border-0 text-bg-primary d-flex justify-content-center align-items-center flex-column">

    <h1 class="display-3 ">Nova tarefa saindo.</h1>

    <div class="container-fluid d-flex justify-content-start align-items-center flex-column ">

        <form action="/task" method="post">

            <div class="col container-fluid">
                <label class="text-light lead" for="titulo">Título:</label>
                <input type="text" placeholder="Um bom titulo" name="titulo" id="titulo"
                    class="form-control form-control-lg" style="font: 30px;">
            </div>


            <div class="container-fluid">
                <label class="text-light lead">Descrição</label>
                <textarea class=" form-control" placeholder="Uma breve descrição da sua tarefa."
                    id="descricao"></textarea>
            </div>

            <div class="col">
                <label class="text-lig-ht lead" for="vencimento">Dt. Vencimento:</label>
                <input type="date" name="vencimento" id="vencimento">
            </div>

        </form>



        <div class="container-fluid lead d-flex justify-content-center">

            <a href="/" role="button" class="btn bg-light mb-3 text-secondary btn-lg">Voltar</a>
            <a type="submit" id="botao" class="btn bg-light mb-3 text-primary btn-lg">Enviar</a>
           

        </div>

    </div>


</body>

</html>
<script>
    let botao = document.getElementById("botao")
    botao.addEventListener("click", b => {
        b.preventDefault();
        let titulo = document.getElementById("titulo")
        let descricao = document.getElementById("descricao")
        let vencimento = document.getElementById("vencimento")

        let data = {
            titulo: titulo.value,
            descricao: descricao.value,
            vencimento: vencimento.value
        }

        // enviaPost(data)
        fetch("/task/add", {
            method: "POST",
            body: JSON.stringify(data)
        })
        window.location = "/"

    })
</script>

<style>
    #vencer {
        margin-top: 20px;
        margin-bottom: 10px;

    }

    label {
        margin-bottom: 10px;
    }
</style>