<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas tarefas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 
</head>



<body
    class="p-3 m-0 border-0 bd-example m-0 border-0 text-bg-primary d-flex justify-content-center align-items-center flex-column ">

    <!-- BOTÕES E TITULO -->
    <div class=" container-sm" style="margin-top: 20px;">

        <a href="/task/add" id="AdicionarTask" role="button" class="btn text-secondary bg-light btn-sm rounded lead " style="padding: 5px;" >Esconder tarefas</a>

        <a href="/task/add" id="AdicionarTask" role="button" class="btn text-primary bg-light btn-sm  rounded lead" style="padding: 5px;">Adicionar Task</a>



        <h1 class="display-4 " style=" margin-bottom: 30px;">E tome tarefas...</h1>


    </div>

    <!-- ESTRUTURA DE TAREFAS -->
    {{range .}}
    
    <div class="lead rounded bg-transparant container-sm " style=" width: 100%; height: 50px; margin-bottom: 20px; border: 1px solid white;">
       
        <div id="TituloConclusao" class="d-flex flex-row justify-content-between col-12">

            <p class="text-light col-10" style="font-size: 15px; text-transform: uppercase; cursor:default; margin: 0; ">{{.Titulo}}</p>
        
            <div class="form-check form-switch col-2">
                <input class="form-check-input custom-check grande" type="checkbox" id="flexSwitchCheckDefault" onclick="DoneTask()">
            </div>

        </div>
    
        <!-- <div class="text-light">
            <p>Descrição: {{.Descricao}} </p>
        </div> -->

        <div id="VencimentoDetalhes" class="d-flex flex-row">

            <p class="col-10 text-light" style="font-size: 15px; cursor:default; margin: 0; ">Vencimento {{.Vencimento}}</p>
            
            <a href="/task?id={{.ID}}" role="btn" style="padding: 0; font-size: 15px; text-align: start;" class="btn text-light col-2"> Detalhes </a>
            

        </div>
        
            

    </div>

            <!-- ! MUDANDO A COR DO CHECK BOX -->
            <style>
                .custom-check {
                    background-color: #00000000;
                }
                
                .custom-check:checked:focus {
                    background-color:  rgb(8, 117, 32);
                }
                .custom-check:checked {
                    background-color:  rgb(8, 117, 32);
                }
            </style>
                     <!-- Função de confirmação -->
                     <script>
                        // botão confirmar 
                        const confirm = document.getElementById("confirmar");
                        // FUNÇÃO
                        function DoneTask() {
                            fetch("/task?id={{.ID}}", {
                                method: "PUT"
                            }).then(r => {
                                r.json().then(res => {
                                    console.log(res)
                                })
                            })
                            window.location.reload(true);
                        }
                        // AO CLICAR -> FUNÇÃO
                        confirm.addEventListener("click", DoneTask)
                    
                    
                    </script>

</body>

</html>
{{end}}