<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Titulo}}</title>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0 text-bg-primary ">

    <a href="/">Voltar</a>

    <h1>{{.Titulo}}</h1>
    <h2>{{.Status}}</h2>
    <h2>Descrição: {{.Descricao}}</h2>
    <button onclick="DoneTask()">Concluir</button>

    <p>Tarefa numéro {{.ID}}</p>
</body>

</html>
<script>
    async function DoneTask() {
        let escolha = confirm("Deseja concluir esta tarefa?")
        if (escolha) {
            fetch("/task?id={{.ID}}", {
                method: "PUT"
            }).then(r => {
                r.json().then(res => {
                    console.log(res)
                })
            })
        }

    }

</script>